/* styles.css */

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(papel-de-parede-tijolos.png);
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  position: relative;
}

.image-link {
  display: block;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  border: none; /* Remove qualquer borda padrão do link */
}

h2{
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}