body{
  background-image: url(lisa.png);
  align-items: center;
  justify-content: center;
  width: 700px;
  height: 700px;
  background-repeat: no-repeat;
}

a{
  justify-content: center;
  align-items: center;
}